ion-card{
    position:relative;
    text-align: justify;
    border-radius: 15px;
   }
   
   .card-title{
       font-weight: bold;
       
   }
   ion-grid {
    display: flex;
    height: 80%;
    width: 100%;
    align-content: center;}