<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Pokemón</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-list>
      <ion-list-header>
        <h2><strong> Elige un Pokemón</strong></h2>
      </ion-list-header> 
      
      <ion-item  *ngFor="let poke of pokemons" [routerLink]="['/pokeinfo', poke.id]">
        <ion-avatar slot="start">
          <img src="{{poke.icono}}">
        </ion-avatar>
        <ion-label>
          <h2><b>{{poke.nombre}}</b></h2>
          <img src="{{poke.tipo[0]}}">
          
        </ion-label>
      </ion-item>
      
    </ion-list>
</ion-content>
