<ion-header>
  <ion-toolbar>
    <ion-title><h1><b>Pikachu</b></h1></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
   <div class="outerDiv">
    <div class="pikapika">
        
      <img  src="../../assets/pokeimages/Pikachu.webp" >  
      
    </div>

   </div>
     
     <div class="outerDiv"> 
      <div class="innerDiv">
        <ul id=lista>
          <li>Especie </li>
          <li>Tipo </li>
          <li>Habilidad </li>
          <li>Hab. Oculta </li>
          <li>Generación </li>
          <li>Región </li>
        </ul> 
       <p>Su cuerpo es de color amarillo con rayas marrón en su espalda y la base de la cola, con la punta de sus orejas de color negro, y polos eléctricos rojos en sus mejillas.

        Pikachu almacena una gran cantidad de electricidad en sus mejillas. Estas parecen cargarse eléctricamente durante la noche mientras duerme. Las mejillas de Pikachu también pueden ser recargadas mediante una descarga eléctrica
        
        Las mejillas son las que generan electricidad, pero esta es conducida y descargada por la punta de su cola produciendo descargas eléctricas, que aumentan de poder dependiendo del estado de ánimo de Pikachu. Muchas veces, en las tormentas se juntan y absorben electricidad de los relámpagos.
        </p>

      </div>
    </div>
</ion-content>

<!--
  <div>
       <h2></h2>  
       <img src="" >  
       <p></p>
     </div>
-->