
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ nombre }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  
  <ion-card>
    <img src="{{ruta}}" />
    <ion-card-header>
      <ion-card-subtitle>Región</ion-card-subtitle>
      <ion-card-title>{{nombre}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{descripcion}}
    </ion-card-content>
  </ion-card>
</ion-content>
